<%- layout('./layouts/boilerplate.ejs') %>
<div class="recipe_details">
    <div class="container">
        <div class="main">
            <div class="row">
                <div class="col-md-6">
                    <div class="main-image">
                        <img src="<%= Item.Image %>" alt="" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="main-cont">
                        <img src="/recipeDetail/Chef-icon-illustration-on-transparent-background-PNG.png" alt="" />
                        <h1><%= Item.RecipeName %></h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="recipeDescription">
            <div class="ingredient">
                <h1>Ingredients</h1>
                <% let items = Item.Ingredients.split(','); let directions = Item.Instructions.split('.');%>
                <div class="ingredient-list">
                    <ol>
                        <% for(let x of items){ %>
                        <li><%= x %></li>
                        <% }%>
                    </ol>
                </div>
            </div>
            <div class="instructions">
                <h1>Instructions</h1>
                <div class="instructions-list">
                    <% for(let x of directions){ %>
                    <p><%= x %></p>
                    <% }%>
                </div>
                <a href="<%= Item.URL %>"  target="_blank"
                    ><u><b>Get Complete Recipe Description</b></u></a
                >
            </div>
        </div>
        <br />
    </div>
</div>
